# Development
node_modules
.android
.AndroidStudio*/
.gradle
.vagrant
.vagrant.d
/home/{{ backup_user_name }}/Development/tools/android/SDK/system-images

# Gaming & Wine
.wine
.local/share/Steam

# Unlocked Plasma Vaults
/Vaults

# Contains mounted file systems:
.gvfs
.local/share/gvfs-metadata
# contains the actual encrypted home directory
/.Private

# Session-specific:
/.dbus
.cache
/.Trash
.Trash-1*
.local/share/Trash
/Trash
_tmp

# Node Package Manager cache
.npm

# Files

# Contains errors from the current graphical session
.xsession-errors
.wayland-errors

# Recently used files
.local/share/RecentDocuments
.recently-used
.recently-used.xbel
recently-used.xbel
.thumbnails
.thumb
Thumbs.db
.DS_Store
.localised
.CFUserTextEncoding
.zcompdump*
.wget-hsts

# Common Unix Printing System
/.cups

# run-time configuration information for Subversion
/.subversion

# Python virtual environments
/.virtualenvs

# Session-specific
.Xauthority
.ICEauthority
.gksu.lock
.pulse
.pulse-cookie
.esd_auth

# KDE specific

# Recent documents on KDE
.kde/share/apps/RecentDocuments
.kde4/share/apps/RecentDocuments
# Contains a history of the Klipper clipboard (KDE)
.kde/share/apps/klipper
.kde4/share/apps/klipper
.local/share/klipper
# You will loose saved scrolling positions of PDFs
.kde/share/apps/okular/docdata
.kde/share/apps/gwenview/recentfolders
.kde4/share/apps/okular/docdata
.kde4/share/apps/gwenview/recentfolders
.local/share/okular/docdata
.local/share/org.kde.gwenview/recentfolders
# Cached other users' profile pics
.kde/share/apps/kmess/displaypics
.kde4/share/apps/kmess/displaypics
# Cached emoticons of others
.kde/share/apps/kmess/customemoticons
.kde4/share/apps/kmess/customemoticons

# Firefox
.mozilla/firefox/*/Cache

# Thunderbird Cache in your profile folder
.thunderbird/*/Cache

# GnuPG
.gnupg/rnd
.gnupg/random_seed
.gnupg/.#*
.gnupg/*.lock
.gnupg/gpg-agent-info-*

# Chromium
.config/chromium/Default/Local Storage
.config/chromium/Default/Session Storage
.config/chromium/Default/Application Cache
.config/chromium/Default/History Index *

# Riot
/snap/riot-web/

# Indexer
.local/share/baloo
.local/share/zeitgeist
.local/share/akonadi
