Ich habe lieber Rosen auf dem Tisch, als Diamanten um den Hals.
~
Wenn ich nicht tanzen kann, will ich eure Revolution nicht.
~
Michelangelo hing nicht weniger von seinem Gönner ab als der Bildhauer und Maler von heute, nur waren die Kunstkenner jener Tage weit entfernt von der verrückten Menge. Sie empfanden es als Ehre, wenn sie am Altar des Meisters ihre Andacht verrichten durften. Der Kunstgönner unserer Tage kennt nur mehr ein Kriterium, einen Wertmesser - den Dollar.
~
Die Frauenrechtsbewegung hat sicherlich viele alte Fesseln gesprengt, gleichzeitig jedoch zum Entstehen neuer beigetragen.
~
Wenn man Liebe nicht bedingungslos geben und nehmen kann, ist es keine Liebe, sondern ein Handel.
~
Im Alter von 23 argumentiert man nicht.
~
In der Politik zählt nichts als die Quantität.
~
Das gewalttätigste Element der Gesellschaft ist die Unwissenheit.
~
Der Wahlspruch sollte nicht sein: Vergebt einander, sondern eher: Versucht, einander zu verstehen.
~
Große Ereignisse künden sich gewöhnlich in scheinbar kleinen Dingen an.
~
Der größte Vorposten des Kapitalismus ist der Militarismus. Genau in dem Augenblick, in dem der letztere unterminiert wird, wird der Kapitalismus wanken.
~
... daß die meisten unserer Großmütter mehr Blut in ihren Adern hatten und sehr viel humorvoller, witziger und sicherlich auch sehr viel natürlicher, herzlicher und unkomplizierter waren als die meisten unserer emanzipierten Geistesarbeiterinnen, die die Universitäten, Studienzimmer und Büros bevölkern.
~
Wieviele emanzipierte Frauen sind mutig genug zuzugeben, daß in ihnen die Stimme der Liebe ruft, ganz heftig in ihrer Brust klopft und drängt, um gehört und befriedigt zu werden?
~
Heute wie damals ist die öffentliche Meinung der allgegenwärtige Tyrann; heute wie damals ist die Mehrheit eine Masse von Feiglingen, die bereit ist, den zu akzeptieren, der ihre eigene elende seelische und geistige Verfassung widerspiegelt.
~
Freiheit und Gleichheit für die Frau! Was für Hoffnungen und Erwartungen wurden durch diese Worte geweckt, als sie das erste Mal ausgesprochen wurden von einigen der größten und mutigsten Geister jener Zeit.
~
Im Kampf um die Herrschaft übertrumpfen die verschiedenen politischen Parteien sich gegenzeitig mit ihren Tricks, Betrügereien, Listen und zweifelhaften Machenschaften, da sie darauf vertrauen dürfen, daß die Partei, die Erfolg hat, von der Mehrheit als Sieger bejubelt wird. Das ist der einzige Gott: der Erfolg. Auf welche Kosten, mit welch schrecklicher Schädigung des Charakters, das kommt nicht in Betracht.
~
Massen! Das Unheil sind die Massen. Ich will überhaupt keine Masse haben, sondern nur ehrbare Männer und liebliche, süße, gebildete Frauen.
~
Politik ist das Spiegelbild der Wirtschaft und Industrie mit ihren Wahlsprüchen: "Nehmen ist seliger als geben", "Kaufe billig und verkaufe teuer", - "Eine schmutzige Hand wäscht die andere".
~
Jemandem zu vergeben, beinhaltet ein Stückchen Selbstgerechtigkeit. Jemanden zu verstehen, ist ausreichend.
~
Glücklicherweise werden jedoch auch die strengen Puritaner nie stark genug sein, das angeborene Verlangen nach Mutterschaft abzutöten.
~
Kleinigkeit spaltet, Großzügigkeit verbindet.
~
Die Geschichte lehrt uns, daß jede unterdrückte Klasse die wahre Befreiung von ihren Beherrschern nur durch eigene Anstrengungen erreicht hat.
~
Aber sobald Luther und Calvin Politiker wurden und den kleinen Potentaten, dem Adel und der Stimmung des Pöbels zu schmeicheln begannen, setzten sie die großen Möglichkeiten der Reformation aufs Spiel.
~
Selbst ohne Ehrgeiz und Initiative haßt die kompakte Mehrheit nichts so sehr wie Neuerungen. Sie hat dem Neuerer, dem Pionier einer neuen Wahrheit immer Widerstand geleistet, ihn verurteilt und verfolgt.
~
Der individuelle Erzieher, der einem ernsten Ziel nachstrebt, der Künstler oder Schriftsteller mit originellen Ideen, der unabhängige Gelehrte oder Forscher, die unnachgiebigen Pioniere der sozialen Umgestaltung, sie alle werden täglich von Männern an die Seite gedrängt, deren Bildung und Schöpferkraft überlebt sind.
~
Die Borniertheit der heutigen Auslegung der Unabhängigkeit und Emanzipation der Frau; die Angst vor der Liebe zu einem Mann, der ihr gesellschaftlich unterlegen ist; die Furcht davor, dass ihre Liebe sie ihrer Freiheit und Unabhängigkeit beraubt; der Horror davor, daß sie durch Liebe oder Muttersein daran gehindert wird, ihren Beruf richtig auszuüben - all dies trägt dazu bei, daß die emanzipierte Frau von heute zu einer zwangsmäßigen Jungfrau wird, an der das Leben mit seinen großen Höhen und Tiefen vorübergeht, ohne ihr Innerstes zu berühren oder gar zu packen.
~
Eine sogenannte Unabhängigkeit, die einzig dazu führt, ein minimales Auskommen zu haben, ist nicht so verlockend und ideal, daß man erwarten könnte, eine Frau würde alles dafür hergeben. Unsere so gepriesene Unabhängigkeit ist letztendlich nur ein Prozeß der ständigen Vergewaltigung der natürlichen Eigenschaften der Frau, ihres Liebesempfindens und Muttergefühls.
~
Das Prinzip der Brüderlichkeit, das der Agitator von Nazareth gelehrt hat, behielt den Keim des Lebens, der Wahrheit und der Gerechtigkeit so lange, als es das Leuchtfeuer der wenigen war. In dem Augenblick, in dem sich die Mehrheit seiner bemächtigte, wurde dieses große Prinzip ein Erkennungszeichen und Vorbote von Blut und Feuer, das Leiden und Verderben verbreitete.
~
Die Menschen würden politisch noch immer in absoluter Sklaverei verharren, wenn es die John Balls, die Wat Tylers, die Wilhelm Tells nicht gäbe, die unzähligen individuellen Giganten, die Schritt für Schritt gegen die Macht von Königen und Tyrannen kämpften.
~
Die Forderung nach gleichen Rechten ist gerecht und fair; letztendlich ist jedoch das wichtigste Recht das Recht auf Liebe und darauf, geliebt zu werden.
~
Verleger, Theaterdirektoren und Kritiker fragen nicht nach der Qualität, die jeder schöpferischen Kunst innewohnt, sondern ob sie sich gut verkaufen läßt und den Geschmack des Volkes trifft? Aber o weh, dieser Geschmack ist wie eine Müllkippe: Ihm schmeckt alles, was kein geistiges Kauen verlangt. Die Folge ist, daß mittelmäßige, abgedroschene Dinge das Hauptergebnis der literarischen Produktion sind.