                                      oo                                      
                                    .o.oo.                                    
                                  .o.    oo                                   
                                .o.       .o.                                 
                              .o.           oo                                
                              o.             oo                               
                             .oo            .o.                               
                      ..ooo.o.                ..o..ooo.                       
                   .oo.    .                     ..   ..o..                   
    .ooooooooooo0o..                                      .oo0ooooooooooo.    
                oo             XXXXXXXXXXXXXXX               oo.               
000000000000000000o                                       .ooooooooooooooooooo
                  oo           YYYYYYYYYYYYYYY          .o.                  
    .oooooooooooooooo  ..                               ooooooooooooooooo.    
                    .o..o.                  .       oo.o                      
                         o.       .    ..   0.     .o                         
                        .oo      ..        .0o    .o                          
                       oo. o0o   oo        000o  . .oo                        
                       oo .000...00.ooooo. 000oo000ooo                        
                       .oo0000000000000000o0000000000.                        
                       .0000000000000ooo000000000000o                         
                        000000000000o   .00000000000.                         
                        o0000ooo..         ..ooo0000                          
                        .o..                     .oo   