Wenn Gott existiert, ist der Mensch ein Sklave; der Mensch kann und soll aber frei sein: Folglich existiert Gott nicht.
~
Die Lust der Zerstörung ist gleichzeitig eine schaffende Lust.
~
Der Staat – eine Abstraktion, die das Leben des Volkes verschlingt, ein unermeßlicher Friedhof, auf dem alle wahren Hoffnungen, alle Lebenskräfte eines Landes großzügig und andächtig sich haben hinschlachten und begraben lassen.
~
Wir lasen im Laufe des Sommers 1839 Hegels Philosophie der Religion und des Rechts, und eine neue Welt tat sich uns auf: Macht ist Recht und Recht ist Macht. Diese Worte waren eine Befreiung für mich.
~
Von der Freiheit kann man auch nicht ein Stückchen abschneiden, weil die Freiheit sich sofort in diesem Stückchen zentralisieren würde.
~
Echte Revolutionäre sind die, die nichts zu verlieren haben.
~
Man setze den aufrechtesten Revolutionär auf einen Thron, und er wird zum schlimmsten Diktator.
~
O Glück, unvorstellbares Glück zurückgezogener, gemächlicher Arbeit, bei der man träumen und dummes Zeug nicht nur denken, sondern sogar schreiben kann.
~
Das Volk ist immer zur Revolution, zur Darbringung aller möglichen Opfer bereit, da es sehr wenig oder gar kein Eigentum hat und folglich durch dasselbe nicht verdorben ist.
~
Jeder Aufruhr ist immer nützlich - so erfolglos er immer sein mag.
~
Wo der Staat anfängt, hört das Individuum auf.
~
Es ist dem Volk egal, ob der Stock, mit dem es geprügelt wird, Stock des Volkes genannt wird.
~
Wir sind überzeugt, dass Freiheit ohne Sozialismus Privilegienwirtschaft und Ungerechtigkeit, und Sozialismus ohne Freiheit Sklaverei und Brutalität bedeutet.
~
Der Mann kann nur in einer Gesellschaft selbstsicher werden und das auch nur durch die kollektive Aktion, der gesamten Gesellschaft.
~
Alles wird vorbeigehen und die Welt wird dahinscheiden, aber die 9te Symphony bleibt bestehen.
~
Vom naturalistischen Standpunkt aus gesehen, sind alle Männer gleich. Es gibt nur zwei Ausnahmen, dieser naturalistischen Gleichheit: Genies und Idioten.
~
Gleichberechtigung heißt das ein Mann als frei akzeptiert wird und von denen die ihn umgeben so behandelt wird.
~
Wer nicht das Unmögliche wagt, wird das Mögliche niemals erreichen.
~
Wenn Gott wirklich existierte, müsste man ihn beseitigen.
~
Wenn Gott existiert, ist der Mensch ein Sklave; der Mensch kann und soll aber frei sein: folglich existiert Gott nicht.